
@font-face {
    font-family: minecraft;
    src: url(../frontend/Minecraft.ttf);
  }
  *{
    font-family: 'minecraft';
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    /* width: 100%;
    height: 100vh;
    background: transparent; */
    position: relative;
    display: flex;
  min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3) url(../frontend/imgs/bg/OG/GIF1.gif);
    background-size: cover;
    background-blend-mode: darken;
  /* transition: background 0.1s ease; */

}
body.light{
    background: rgba(0,0,0,0.5)url(../frontend/imgs/bg/OG/GIF2.gif);
    background-size: cover;
    background-position: 0 -10vh;
  
  }

.ld{
    position: absolute;
    top:30px;
    right:30px ;
    width: 40px;
    height: 40px;
    background-color: #2b0132;
    background-image: url(../frontend/icons8-crescent-moon-100.png);
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #3a3838;
    box-shadow: inset 0 0 10px rgba(139, 139, 139, 0.1), 0 0 1rem rgba(154, 154, 154, 0.254);
  cursor: pointer;
  transition: transform, box-shadow, 0.3s ease;
  }
  .ld.light{
    background-color: #60fff2;
    background-image: url(../frontend/icons8-globe-80.png);
    border: 3px solid #d2d2d2;
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.3), 0 0 4rem rgba(0,0,0, 0.6);
  
  }

  .ld:hover{
    transform: rotate(360deg) scale(1.1);
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.3);
  }
  
  .ld:active{
    transform: scale(0.9);
  }

#logo{
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: rgb(0, 0, 0);
    animation: blinkk 1s ease forwards infinite 3.5s;

}


path{
    stroke-dasharray: 605px;
    stroke-dashoffset: 605px;
    animation: line-anim 4s ease forwards;
    /* animation: blinkk 1s ease infinite 3.5s; */
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

a{
    text-decoration: none;
    color: transparent;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: rgb(0, 0, 0);
    animation: fade 0.5 ease forwards 3s;
    animation: blinkk 1s ease forwards infinite 3.5s;
}

@keyframes blinkk{
    0%{
        color: #fff;
    }
    75%{
        color: #fff;
    }
    76%{
        color: rgba(255, 255, 255, 0.401);

    }
    100%{
        color: #fff;
    }
}